---
import { GITHUB_ACCESS_TOKEN } from "astro:env/server";

import Icon from "./Icon.astro";

const GITHUB_API_URL = "https://api.github.com";
const issuesResponse = await fetch(
    `${GITHUB_API_URL}/search/issues?q=is:pr+author:dmc0125`,
    {
        headers: {
            Accept: "application/vnd.github+json",
            "X-GitHub-Api-Version": "2026-03-10",
            Authorization: `Bearer ${GITHUB_ACCESS_TOKEN}`,
            "user-agent": "dmc0125",
        },
    },
);

type IssueState = "open" | "closed";

type IssueItem = {
    id: number;
    html_url: string;
    repository_url: string;
    title: string;
    created_at: string;
    updated_at: string;
    state: IssueState;
    number: number;
    body: string;
    pull_request?: {
        url: string;
        html_url: string;
        diff_url: string;
        patch_url: string;
        merged_at: string | null;
    };
};

type IssuesData = {
    total_count: number;
    incomplete_results: boolean;
    items: IssueItem[];
};

type ContributionState = "Open" | "Closed" | "Merged";

type Contribution = {
    title: string;
    // description?: string;
    // body: string;
    prUrl: string;
    repoUrl: string;
    repoName: string;
    number: number;
    state: ContributionState;
    createdAt: string;
    mergedAt?: string;
    icon: string;
};

const contributions: Contribution[] = [];

if (issuesResponse.ok) {
    const issuesResponseData = (await issuesResponse.json()) as IssuesData;

    for (const issue of issuesResponseData.items) {
        const [_, repoName] = issue.repository_url.split("repos/");

        let state: ContributionState = "Open";
        let icon = "branch-out";
        if (issue.state === "closed") {
            if (issue.pull_request?.merged_at !== null) {
                state = "Merged";
                icon = "branch-in";
            } else {
                state = "Closed";
                icon = "branch-out";
            }
        }

        const createdAt = new Date(issue.created_at).toLocaleDateString(
            undefined,
            {
                year: "numeric",
                month: "short",
                day: "numeric",
            },
        );
        const mergedAt = issue.pull_request?.merged_at
            ? new Date(issue.pull_request.merged_at).toLocaleDateString(
                  undefined,
                  {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                  },
              )
            : undefined;

        const contribution = {
            title: issue.title,
            prUrl: issue.html_url,
            repoUrl: issue.repository_url,
            number: issue.number,
            // body: issue.body,
            createdAt,
            mergedAt,
            repoName,
            state,
            icon,
        } as Contribution;
        contributions.push(contribution);
    }

    // const redis = new Redis({
    //     url: UPSTASH_REDIS_REST_URL,
    //     token: UPSTASH_REDIS_REST_TOKEN,
    // });
    //
    // // ------
    // // save contributions that are not yet saved
    //
    // const savedContributionsKeys = await redis.keys("contrib-data:*");
    // const contributionsToSave: (ContributionSaved & { issueNumber: number })[] =
    //     [];
    //
    // for (let i = 0; i < contributions.length; i++) {
    //     const contribution = contributions[i];
    //     const key = contributionDataKey(contribution.number.toString());
    //     const savedContribution = savedContributionsKeys.find(
    //         (savedContribution) => savedContribution === key,
    //     );
    //
    //     if (!savedContribution) {
    //         contributionsToSave.push({
    //             issueNumber: contribution.number,
    //             title: contribution.title,
    //             body: contribution.body,
    //         });
    //     }
    // }
    //
    // {
    //     const tx = redis.multi();
    //     for (const contribution of contributionsToSave) {
    //         const { issueNumber, ...data } = contribution;
    //         tx.hset(contributionDataKey(issueNumber.toString()), data);
    //     }
    //     if (tx.length() > 0) {
    //         try {
    //             await tx.exec();
    //         } catch (e) {
    //             console.error(e);
    //         }
    //     }
    // }
    //
    // // ------
    // // query descriptions
    //
    // {
    //     const p = redis.pipeline();
    //     for (const contribution of savedContributionsKeys) {
    //         p.hgetall(contribution);
    //     }
    //     const contributionsSaved = await p.exec<ContributionSaved[]>();
    //
    //     for (let i = 0; i < contributionsSaved.length; i++) {
    //         const key = savedContributionsKeys[i];
    //         const issueNumber = Number(key.split(":")[1]);
    //
    //         const contribution = contributions.find(
    //             (c) => c.number === issueNumber,
    //         )!;
    //
    //         const saved = contributionsSaved[i];
    //         if (saved.description) {
    //             contribution.description = saved.description;
    //         } else {
    //             generateDesciptions = true;
    //         }
    //     }
    // }
}
---

{
    contributions.length > 0 ? (
        <section
            id="contributions"
            class="w-full px-4 mt-16 sm:mt-32 max-w-[800px] mx-auto"
        >
            <div class="flex gap-4 items-center">
                <div class="h-[2px] w-full bg-gray-700" />
                <h3 class="text-gray-400 text-lg font-semibold shrink-0 uppercase">
                    Contributions
                </h3>
                <span class="text-lg font-medium text-gray-700">03</span>
            </div>

            <ul class="mt-10 flex flex-col gap-8">
                {contributions.map((contribution) => (
                    <li class="flex flex-col gap-2">
                        <div class="flex gap-4">
                            <span
                                class={
                                    contribution.state === "Merged"
                                        ? "text-teal-600"
                                        : "text-gray-400"
                                }
                            >
                                <Icon
                                    name={contribution.icon}
                                    className="size-5"
                                />
                            </span>
                            <p class="text-gray-200">{contribution.title}</p>
                        </div>

                        <div class="flex items-center gap-4 text-gray-400 text-sm">
                            <a
                                href={contribution.prUrl}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="hover:text-gray-200 transition-all"
                            >
                                {contribution.repoName} #{contribution.number}
                            </a>

                            <div
                                class={
                                    "w-fit py-0.5 px-2 rounded " +
                                    (contribution.state === "Open"
                                        ? "bg-zinc-800 text-gray-400"
                                        : "bg-teal-600/30 text-teal-600")
                                }
                            >
                                {contribution.state}
                            </div>
                        </div>

                        <div class="flex gap-x-4 gap-y-2 flex-wrap">
                            <span class="text-sm text-gray-400 flex gap-2">
                                <Icon name="calendar" className="size-4" />
                                Created at {contribution.createdAt}
                            </span>
                            {contribution.mergedAt && (
                                <span class="text-sm text-teal-600 flex gap-2">
                                    <Icon name="clock" className="size-4" />
                                    Merged at {contribution.mergedAt}
                                </span>
                            )}
                        </div>
                    </li>
                ))}
            </ul>
        </section>
    ) : (
        <section
            id="contributions"
            class="w-full px-4 mt-16 sm:mt-32 max-w-[800px] mx-auto"
        >
            <div class="flex gap-4 items-center">
                <div class="h-[2px] w-full bg-gray-700" />
                <h3 class="text-gray-400 text-lg font-semibold shrink-0 uppercase">
                    Contributions
                </h3>
                <span class="text-lg font-medium text-gray-700">02</span>
            </div>

            <p class="mt-10 text-gray-400">
                Unable to display contributions at this time.
            </p>
        </section>
    )
}
