---
import "../styles/global.css";
import { type ContentLang } from "../content/content";

type Props = {
    lang: ContentLang;
    title: string;
    description: string;
    keywords: string;
};
const { lang, title, description, keywords } = Astro.props;
const ogImage = new URL(`/og-image-${lang}.png`, Astro.url);
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta name="title" content={title} />
        <meta name="description" content={description} />
        <meta name="keywords" content={keywords} />

        <meta name="author" content="Dominik Michal" />
        <meta name="robots" content="index, follow" />

        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={ogImage} />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:type" content="website" />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={ogImage} />

        <link rel="canonical" href={Astro.url} />

        <title>{title}</title>

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
    </head>
    <body class="min-h-[100vh] w-full bg-black overflow-x-hidden">
        <slot />
    </body>
</html>
